/*========== GOOGLE FONT ==========*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*========== VARIABLES CSS ==========*/
:root {
	--header-height: 3rem;

	/*========== COLORS ==========*/
	--title-color: #111816;
	--text-color: #888b85;
	--body-color: white;
	--white-color: white;
	--black-color: black;

	/*========== FONT & TYPORGRAPHY ==========*/
	/* --body-font: 'Poppins', sans-serif; */
	--body-font: 'Montserrat', sans-serif;
	--biggest-font-size: 4rem;
	--bigger-font-size: 3rem;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: .938rem;
	--small-font-size: .813rem;
	--smaller-font-size: .75rem;

	/*========== FONT WEIGHT ==========*/
	--font-500: 500;
	--font-600: 600;
	--font-700: 700;
	--font-800: 800;

	/*========== MARGINS ==========*/
	--mb-0-25: 0.25em;
	--mb-0-5: 0.5em;
	--mb-0-75: 0.75em;
	--mb-1: 1em;
	--mb-1-5: 1.5em;
	--mb-2: 2em;
	--mb-2-5: 2.5em;
	--mb-3: 3em;

	/*========== Z INDEX ==========*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/*========== FONT SIZE FOR LARGER SCREENS ==========*/

@media screen and (min-width: 968px) {
	:root {
		--biggest-font-size: 5rem;
		--bigger-font-size: 4rem;
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/*========== BASE ==========*/

*, ::before, ::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	margin: 0 0 var(--header-height) 0;
	background-color: var(--body-color);
	font-size: var(--normal-font-size);
	color: var(--black-color);
	font-family: var(--body-font);
	line-height: 1.5;
}

body::before {
	content: '';
	position: absolute;
	background-color: #ffffff;
	opacity: .15;
	background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 14px), repeating-linear-gradient(#000dff55, #000dff);
	inset: 0;
	z-index: -11;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, ul, p {
	margin: 0;
}

h1, h2, h3 {
	color: var(--title-color);
	font-weight: var(--font-medium);
}

h4 {
	font-weight: var(--font-medium);
	font-size: var(--h1-font-size);
	color: var(--text-color-light);
	margin: var(--mb-1-5) 0 0;
}

ul {
	padding: 0;
}

li {
	list-style: circle;
	margin-left: var(--mb-2);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*========== CLASS CSS ==========*/
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	position: relative;
	font-size: var(--h1-font-size);
	color: var(--title-color);
	font-weight: var(--font-600);
	text-align: center;
	margin-bottom: var(--mb-1);
	width: fit-content;
}

.section__title::before {
	content: '';
	position: absolute;
	width: -webkit-fill-available;
	height: 24px;
	background: red;
	z-index: -1;
	top: 20px;
	left: 11px;
	opacity: .4;
	border-radius: .1rem;
	-webkit-border-radius: .1rem;
	-moz-border-radius: .1rem;
	-ms-border-radius: .1rem;
	-o-border-radius: .1rem;
}


/*========== LAYOUT ==========*/
.main {
	padding: var(--mb-1);
}

.grid {
	display: -ms-grid;
	display: grid;
	gap: var(--mb-1-5);
}

.container {
	/* max-width: 968px; */
	max-width: 1024px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.hide {
	display: none !important;
	user-select: none;
}

article {
	display: grid;
	gap: var(--mb-0-5);
}

.article-container {
	gap: var(--mb-2-5);
}

.article__title {
	font-size: var(--h2-font-size);
	font-weight: var(--font-600);
}

.article__subtitle {
	font-size: var(--h3-font-size);
	font-weight: var(--font-500);
}

.article__description {
	margin-top: var(--mb-1);
	margin-bottom: var(--mb-0-5);
}

.article__date {
	font-style: oblique;
}

.article__text {
	color: var(--black-color);
	font-size: var(--font-500);
}

.article__list .list__label {
	font-weight: var(--font-500);
	color: var(--black-color);
}

.article__list {
	margin: var(--mb-0-5) 0;
}

/*========== HOME SECTION ==========*/
.profile__img {
	margin: auto;
	display: block;
	margin-bottom: var(--mb-1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.home__title {
	font-size: var(--h2-font-size);
	color: var(--black-color);
	font-weight: var(--font-700);
}

.home__subtitle {
	font-weight: var(--font-600);
	margin-bottom: var(--mb-0-5);
}

.home__url a,
.article__url a {
	color: var(--black-color);
}

.home__mail a,
.home__url a {
	color: var(--first-color);
}

.home__url,
.home__mail,
.home__phone {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: var(--mb-1);
	margin: var(--mb-0-25) 0;
}

.home__title,
.home__subtitle,
.home__description {
	text-align: center;
}

.home__title,
.home__subtitle {
	font-family: var(--title-font);
}

/*========== SECTION TITLE COLORS ==========*/
.publications .section__title::before {
	background-color: #0066ff;
}

.certifications .section__title::before {
	background-color: #33ff00;
}

.project .section__title::before {
	background-color: #ff6600;
}

.skills .section__title::before {
	background-color: #c8ff00;
}

.volunteer .section__title::before {
	background-color: #0051ff;
}

.languages .section__title::before {
	background-color: #09ff00;
}

.education .section__title::before {
	background-color: #ff00bf;
}

.interests .section__title::before {
	background-color: #5900ff;
}

.references .section__title::before {
	background-color: #00ffd5;
}

.profiles .section__title::before {
	background-color: #363636;
}

/*========== REFERENCE SECTION ==========*/
.references__description {
	margin: 0;
}

/*========== PROFILE SECTION ==========*/
.profile__container {
	display: inline-grid;
	gap: var(--mb-2);
	grid-template-columns: repeat(5, 1fr);
}

.fab {
	font-size: var(--mb-2);
}

.fab a {
	color: var(--first-color);
}

/*========== MEDIA QUERIES ==========*/
@media screen and (max-width: 330px) {
	.main {
		padding: var(--mb-1) 0;
	}

	.container {
		/* margin-left: var(--mb-1); */
		margin-right: var(--mb-1);
	}
}

@media print, screen and (min-width: 786px) {
	body {
		margin: 0;
	}

	.main {
		margin: auto;
	}

	.section__title::before {
		height: 30px;
		background: red;
		z-index: -1;
		top: 24px;
		left: 12.8px;
	}

	.main-wrapper,
	.basics {
		display: grid;
		grid-template-columns: 1fr .6fr;
		column-gap: 5rem;
	}

	.article__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.section__title,
	.home__title,
	.home__subtitle,
	.home__description {
		text-align: initial;
	}

	.home__url,
	.home__mail,
	.home__phone {
		justify-content: initial;
	}

	.profile__img {
		order: 1;
		height: 300px;
		width: 300px;
		margin-right: 5rem;
		margin-bottom: 0;
		border-radius: .1rem;
		-webkit-border-radius: .1rem;
		-moz-border-radius: .1rem;
		-ms-border-radius: .1rem;
		-o-border-radius: .1rem;
	}

	.home__title {
		font-size: var(--h1-font-size);
	}

	.home__subtitle {
		font-size: var(--h2-font-size);
	}
}

@media print {
	.section__title::before {
		height: 23px;
		background: red;
		z-index: -1;
		top: 16px;
		left: 7.8px;
	}
}

/*========== ICONS ==========*/
.icon {
	font-style: normal;
	margin-right: 0;
	width: 0.6em;
	color: var(--icon-color);
}

.icon.twitter:before {
	content: "\f099";
}

.icon.github:before {
	content: "\f09b";
}

.icon.facebook:before {
	content: "\f39e";
}

.icon.instagram:before {
	content: "\f16d";
}

.icon.xing:before {
	content: "\f168";
}

.icon.behance:before {
	content: "\f39e";
}

.icon.dribbble:before {
	content: "\f17d";
}

.icon.medium:before {
	content: "\f23a";
}

.icon.linkedin:before {
	content: "\f08c";
}